In [7]:
import pandas as pd

In [8]:
# !pip install openpyxl

In [9]:
df = pd.read_excel('/home/lakhanvishwkarma/LV/new_12_09/resultdf_top_1000_0.28.xlsx')

In [10]:
df.shape

(65885, 11)

In [11]:
df.head(20)

,Unnamed: 0,account_sequence,original_codes,predicted_codes_with_prob,avg_predicted_probability,accepted_codes_with_prob,rejected_codes_with_prob,missed_codes_with_prob,accepted_codes_count,rejected_codes_count,missed_codes_count
0,0,0,['E10649'],[],0.000000,[],[],"[('E10649', 0.05180067993705032)]",0,0,1
1,1,1,['F1193'],[],0.000000,[],[],"[('F1193', 0.05107767066829563)]",0,0,1
2,2,2,['H8113'],"[('H8113', 0.610763071830652)]",0.610763,"[('H8113', 0.610763071830652)]",[],[],1,0,0
3,3,3,['S0191XA'],"[('S0191XA', 0.28987872159145633)]",0.289879,"[('S0191XA', 0.28987872159145633)]",[],[],1,0,0
4,4,4,['L02512'],[],0.000000,[],[],"[('L02512', 0.043038036955786015)]",0,0,1
5,5,5,['W1840XA'],[],0.000000,[],[],"[('W1840XA', 0.09735239901703162)]",0,0,1
6,6,6,['S43005A'],[],0.000000,[],[],"[('S43005A', 0.05098442358275427)]",0,0,1
7,7,7,['S51012A'],"[('S51011A', 0.30777398276314255)]",0.307774,[],"[('S51011A', 0.30777398276314255)]","[('S51012A', 0.08585511065791629)]",0,1,1
8,8,8,['O0090'],"[('O0090', 0.998656895972047)]",0.998657,"[('O0090', 0.998656895972047)]",[],[],1,0,0
9,9,9,['S42291A'],[],0.000000,[],[],"[('S42291A', 0.0027821812020708374)]",0,0,1
10,10,10,['S32501A'],[],0.000000,[],[],"[('S32501A', 0.04353811195166386)]",0,0,1
11,11,11,['R0689'],[],0.000000,[],[],"[('R0689', 0.1306519102849939)]",0,0,1
12,12,12,['W1811XA'],[],0.000000,[],[],"[('W1811XA', 0.00220050277158958)]",0,0,1
13,13,13,['A059'],[],0.000000,[],[],"[('A059', 0.07160638369853928)]",0,0,1
14,14,14,['F03B0'],"[('F03B0', 0.9424115221503753)]",0.942412,"[('F03B0', 0.9424115221503753)]",[],[],1,0,0
15,15,15,['R10817'],[],0.000000,[],[],"[('R10817', 0.005521447729441868)]",0,0,1
16,16,16,['Z7722'],[],0.000000,[],[],"[('Z7722', 0.011403375844507315)]",0,0,1
17,17,17,['F03918'],[],0.000000,[],[],"[('F03918', 0.27629428963134206)]",0,0,1
18,18,18,['Z77098'],"[('Z77098', 0.9981740693050813)]",0.998174,"[('Z77098', 0.9981740693050813)]",[],[],1,0,0
19,19,19,"['B20', 'J849']","[('B20', 0.8515750763400309), ('J849', 0.97644...",0.753860,"[('B20', 0.8515750763400309), ('J849', 0.97644...","[('R058', 0.43356203772044305)]",[],2,1,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65885 entries, 0 to 65884
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 65885 non-null  int64
 1   account_sequence           65885 non-null  int64
 2   original_codes             65885 non-null  object
 3   predicted_codes_with_prob  65885 non-null  object
 4   avg_predicted_probability  65885 non-null  float64
 5   accepted_codes_with_prob   65885 non-null  object
 6   rejected_codes_with_prob   65885 non-null  object
 7   missed_codes_with_prob     65885 non-null  object
 8   accepted_codes_count       65885 non-null  int64
 9   rejected_codes_count       65885 non-null  int64
 10  missed_codes_count         65885 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 5.5+ MB

In [13]:
# df[df['predicted_codes_with_prob']!='[]']['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

In [14]:
# df['original_codes'].apply(lambda x: 'R053' in x).value_counts()

In [15]:
# df['accepted_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

In [16]:
# df['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

In [17]:
# df_pred_some = df[df['predicted_codes_with_prob']!='[]']
# df_pred_some.shape

In [18]:
# df_pred_some['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

In [19]:
# df_pred_blank['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

In [20]:
# df_pred_blank[df_pred_blank['missed_codes_with_prob'].str.contains('R053')]

In [21]:
print(len(df[df['original_codes'].str.contains('R053')]))
print(len(df[df['missed_codes_with_prob'].str.contains('R053')]))

300
183

In [ ]:
300-183

In [ ]:
183-161

In [23]:
df_pred_blank = df[df['predicted_codes_with_prob']=='[]']

In [24]:
print(len(df_pred_blank[df_pred_blank['original_codes'].str.contains('R053')]))
print(len(df_pred_blank[df_pred_blank['missed_codes_with_prob'].str.contains('R053')]))

161
161

In [ ]:
28040+37728+117

In [ ]:
df_pred_blank.shape

In [ ]:
df_pred_blank.head(20)

In [ ]:
# all_codes = df_pred_blank['original_codes'].str.split(',').explode()
# unique_codes = all_codes.unique() 
# # len(unique_codes)

In [25]:
df_pred_blank.loc[df_pred_blank['missed_codes_count']==1, 'missed_codes_with_prob'] \
    .str.replace(r"[)|\]]", "", regex=True) \
    .str.split(", ")

0         [[('E10649', 0.05180067993705032]
1          [[('F1193', 0.05107767066829563]
4        [[('L02512', 0.043038036955786015]
5        [[('W1840XA', 0.09735239901703162]
6        [[('S43005A', 0.05098442358275427]
                        ...
65870       [[('R935', 0.21604083084525644]
65872    [[('I824Y2', 0.042296015001171645]
65875     [[('I5043', 0.034133192679412665]
65882     [[('K7469', 0.021635959640613982]
65884       [[('L539', 0.16565576256192574]
Name: missed_codes_with_prob, Length: 34755, dtype: object

In [26]:
df_pred_blank['prob'] = df_pred_blank['missed_codes_with_prob'] \
    .str.extract(r"([0-9]*\.[0-9]+)")

/tmp/ipykernel_22263/850149420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pred_blank['prob'] = df_pred_blank['missed_codes_with_prob'] \

In [27]:
df_pred_blank[df_pred_blank['prob'].astype(float)>0.2]

,Unnamed: 0,account_sequence,original_codes,predicted_codes_with_prob,avg_predicted_probability,accepted_codes_with_prob,rejected_codes_with_prob,missed_codes_with_prob,accepted_codes_count,rejected_codes_count,missed_codes_count,prob
17,17,17,['F03918'],[],0.0,[],[],"[('F03918', 0.27629428963134206)]",0,0,1,0.27629428963134206
68,68,68,['F309'],[],0.0,[],[],"[('F309', 0.21674460989826508)]",0,0,1,0.21674460989826508
102,102,102,['K838'],[],0.0,[],[],"[('K838', 0.24853385851693396)]",0,0,1,0.24853385851693396
111,111,111,['K7689'],[],0.0,[],[],"[('K7689', 0.27491384529894747)]",0,0,1,0.27491384529894747
183,183,183,['S42201A'],[],0.0,[],[],"[('S42201A', 2.9274106188871987e-05)]",0,0,1,2.9274106188871987
...,...,...,...,...,...,...,...,...,...,...,...,...
65713,65713,65713,['S50311A'],[],0.0,[],[],"[('S50311A', 0.2694157712979268)]",0,0,1,0.2694157712979268
65765,65765,65765,['S42291A'],[],0.0,[],[],"[('S42291A', 0.20059110010583311)]",0,0,1,0.20059110010583311
65796,65796,65796,"['T2122XA', 'X12XXXA']",[],0.0,[],[],"[('T2122XA', 0.259576452774822), ('X12XXXA', 0...",0,0,2,0.259576452774822
65864,65864,65864,['E8339'],[],0.0,[],[],"[('E8339', 0.2472792492651285)]",0,0,1,0.2472792492651285
65870,65870,65870,['R935'],[],0.0,[],[],"[('R935', 0.21604083084525644)]",0,0,1,0.21604083084525644

In [28]:
# import ast
# import numpy as np

# df['missed_codes_with_prob'] = df['missed_codes_with_prob'].apply(
#     lambda x: ast.literal_eval(x) if isinstance(x, str) else x
# )

# df['avg_pred_prob_missed'] = df['missed_codes_with_prob'].apply(
#     lambda lst: np.mean([p for _, p in lst]) if lst else 0.0
# )
import ast
import numpy as np

df['avg_pred_prob_missed'] = df['missed_codes_with_prob'].apply(
    lambda x: np.mean([p for _, p in ast.literal_eval(x)]) if isinstance(x, str) else 
              (np.mean([p for _, p in x]) if x else 0.0)
)

/home/lakhanvishwkarma/anaconda3/envs/myenv/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:3860: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/lakhanvishwkarma/anaconda3/envs/myenv/lib/python3.10/site-packages/numpy/_core/_methods.py:145: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [29]:
df_pred_blank

,Unnamed: 0,account_sequence,original_codes,predicted_codes_with_prob,avg_predicted_probability,accepted_codes_with_prob,rejected_codes_with_prob,missed_codes_with_prob,accepted_codes_count,rejected_codes_count,missed_codes_count,prob
0,0,0,['E10649'],[],0.0,[],[],"[('E10649', 0.05180067993705032)]",0,0,1,0.05180067993705032
1,1,1,['F1193'],[],0.0,[],[],"[('F1193', 0.05107767066829563)]",0,0,1,0.05107767066829563
4,4,4,['L02512'],[],0.0,[],[],"[('L02512', 0.043038036955786015)]",0,0,1,0.043038036955786015
5,5,5,['W1840XA'],[],0.0,[],[],"[('W1840XA', 0.09735239901703162)]",0,0,1,0.09735239901703162
6,6,6,['S43005A'],[],0.0,[],[],"[('S43005A', 0.05098442358275427)]",0,0,1,0.05098442358275427
...,...,...,...,...,...,...,...,...,...,...,...,...
65870,65870,65870,['R935'],[],0.0,[],[],"[('R935', 0.21604083084525644)]",0,0,1,0.21604083084525644
65872,65872,65872,['I824Y2'],[],0.0,[],[],"[('I824Y2', 0.042296015001171645)]",0,0,1,0.042296015001171645
65875,65875,65875,['I5043'],[],0.0,[],[],"[('I5043', 0.034133192679412665)]",0,0,1,0.034133192679412665
65882,65882,65882,['K7469'],[],0.0,[],[],"[('K7469', 0.021635959640613982)]",0,0,1,0.021635959640613982
65884,65884,65884,['L539'],[],0.0,[],[],"[('L539', 0.16565576256192574)]",0,0,1,0.16565576256192574

In [30]:
df_pred_blank['missed_codes_count'].value_counts()

missed_codes_count
1    34755
2     2739
3      217
4       14
5        3
Name: count, dtype: int64

In [31]:
import ast

all_codes = df_pred_blank['original_codes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
flattened_codes = all_codes.explode()
# get total unique codes
unique_count = flattened_codes.nunique()
# get the unique codes list if needed
unique_codes = flattened_codes.unique().tolist()

In [32]:
unique_count

1000

In [33]:
df.shape

(65885, 12)

In [34]:
37728/65885

0.5726341352356379

In [35]:
# df_pred_blank['original_codes'].value_counts().to_excel('df_pred_blank_ori_code_val_cnts.xlsx')

In [36]:
###########

In [37]:
df[df['original_codes'].str.contains('R053', na=False)]

,Unnamed: 0,account_sequence,original_codes,predicted_codes_with_prob,avg_predicted_probability,accepted_codes_with_prob,rejected_codes_with_prob,missed_codes_with_prob,accepted_codes_count,rejected_codes_count,missed_codes_count,avg_pred_prob_missed
170,170,170,['R053'],[],0.000000,[],[],"[('R053', 0.1371849839502656)]",0,0,1,0.137185
525,525,525,['R053'],[],0.000000,[],[],"[('R053', 0.005593294148177013)]",0,0,1,0.005593
566,566,566,['R053'],[],0.000000,[],[],"[('R053', 0.1672896800759167)]",0,0,1,0.167290
588,588,588,['R053'],[],0.000000,[],[],"[('R053', 0.00450140391184376)]",0,0,1,0.004501
724,724,724,['R053'],[],0.000000,[],[],"[('R053', 0.26520088422113325)]",0,0,1,0.265201
...,...,...,...,...,...,...,...,...,...,...,...,...
64772,64772,64772,['R053'],"[('R053', 0.9130960149724876)]",0.913096,"[('R053', 0.9130960149724876)]",[],[],1,0,0,NaN
65425,65425,65425,['R053'],[],0.000000,[],[],"[('R053', 0.0003539290583037479)]",0,0,1,0.000354
65520,65520,65520,"['J42', 'R053']","[('J42', 0.6228559029131305)]",0.622856,"[('J42', 0.6228559029131305)]",[],"[('R053', 0.1559330538830936)]",1,0,1,0.155933
65543,65543,65543,['R053'],"[('R053', 0.9529788166186486)]",0.952979,"[('R053', 0.9529788166186486)]",[],[],1,0,0,NaN
65745,65745,65745,['R053'],[],0.000000,[],[],"[('R053', 0.11963863852649331)]",0,0,1,0.119639

In [131]:
df['original_codes'].value_counts().head(20)

original_codes
['B338']       330
['Z7722']      310
['R053']       275
['S99921A']    266
['J22']        255
['T83511A']    252
['R058']       239
['S29019A']    239
['R404']       214
['W2101XA']    212
['V877XXA']    210
['R29898']     197
['S99922A']    197
['I499']       191
['S4992XA']    188
['R6883']      186
['I159']       186
['Z77098']     180
['J398']       179
['S99912A']    178
Name: count, dtype: int64

In [97]:
# df['original_codes'].value_counts().to_excel('original_codes_value_counts.xlsx')

In [135]:
df['missed_codes_with_prob']

0         [(E10649, 0.05180067993705032)]
1          [(F1193, 0.05107767066829563)]
2                                      []
3                                      []
4        [(L02512, 0.043038036955786015)]
                       ...
65880                                  []
65881                                  []
65882     [(K7469, 0.021635959640613982)]
65883      [(N503, 0.024312598268291154)]
65884       [(L539, 0.16565576256192574)]
Name: missed_codes_with_prob, Length: 65885, dtype: object

In [136]:
df['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

AttributeError: 'list' object has no attribute 'str'

In [134]:
df['accepted_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

accepted_codes_with_prob
False    65768
True       117
Name: count, dtype: int64

In [25]:
df_pred_blank['original_codes'].value_counts().head(20)

original_codes
['R053']       153
['S99921A']    135
['T50995A']    128
['R29898']     127
['R6883']      120
['F1990']      112
['R0689']      109
['V877XXA']    109
['R058']       108
['S99922A']    107
['I499']       107
['N3289']      103
['T887XXA']    102
['R2243']       99
['Z7722']       99
['K769']        99
['M19011']      98
['R4589']       97
['F418']        97
['S42202A']     96
Name: count, dtype: int64

In [69]:
df_pred_blank['missed_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

missed_codes_with_prob
False    37567
True       161
Name: count, dtype: int64

In [70]:
df_pred_blank['accepted_codes_with_prob'].apply(lambda x: 'R053' in x).value_counts()

accepted_codes_with_prob
False    37728
Name: count, dtype: int64

In [137]:
df_pred_blank[df_pred_blank['missed_codes_with_prob'].apply(lambda x: 'R053' in x)]

Empty DataFrame
Columns: [Unnamed: 0, account_sequence, original_codes, predicted_codes_with_prob, avg_predicted_probability, accepted_codes_with_prob, rejected_codes_with_prob, missed_codes_with_prob, accepted_codes_count, rejected_codes_count, missed_codes_count, avg_pred_prob_missed]
Index: []

In [74]:
df[df['missed_codes_with_prob'].apply(lambda x: 'R053' in x)]

,Unnamed: 0,account_sequence,original_codes,predicted_codes_with_prob,avg_predicted_probability,accepted_codes_with_prob,rejected_codes_with_prob,missed_codes_with_prob,accepted_codes_count,rejected_codes_count,missed_codes_count
170,170,170,['R053'],[],0.000000,[],[],"[('R053', 0.1371849839502656)]",0,0,1
525,525,525,['R053'],[],0.000000,[],[],"[('R053', 0.005593294148177013)]",0,0,1
566,566,566,['R053'],[],0.000000,[],[],"[('R053', 0.1672896800759167)]",0,0,1
588,588,588,['R053'],[],0.000000,[],[],"[('R053', 0.00450140391184376)]",0,0,1
724,724,724,['R053'],[],0.000000,[],[],"[('R053', 0.26520088422113325)]",0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
63696,63696,63696,['R053'],[],0.000000,[],[],"[('R053', 0.005904732430924445)]",0,0,1
64363,64363,64363,['R053'],[],0.000000,[],[],"[('R053', 0.23226387178539726)]",0,0,1
65425,65425,65425,['R053'],[],0.000000,[],[],"[('R053', 0.0003539290583037479)]",0,0,1
65520,65520,65520,"['J42', 'R053']","[('J42', 0.6228559029131305)]",0.622856,"[('J42', 0.6228559029131305)]",[],"[('R053', 0.1559330538830936)]",1,0,1
65745,65745,65745,['R053'],[],0.000000,[],[],"[('R053', 0.11963863852649331)]",0,0,1

In [ ]:
#######

In [138]:
df_pred_blank['original_codes'].value_counts().head(60).index

Index(['['R053']', '['S99921A']', '['T50995A']', '['R29898']', '['R6883']',
       '['F1990']', '['R0689']', '['V877XXA']', '['R058']', '['S99922A']',
       '['I499']', '['N3289']', '['T887XXA']', '['R2243']', '['Z7722']',
       '['K769']', '['M19011']', '['R4589']', '['F418']', '['S42202A']',
       '['S4992XA']', '['M79675']', '['C799']', '['T83511A']', '['W2101XA']',
       '['F439']', '['J22']', '['T68XXXA']', '['M47816']', '['I5033']',
       '['J939']', '['S81801A']', '['J398']', '['S0191XA']', '['S81802A']',
       '['R2990']', '['W1840XA']', '['M79621']', '['V499XXA']', '['R29810']',
       '['S86912A']', '['K6389']', '['S29019A']', '['K8520']', '['S99912A']',
       '['R071']', '['I5021']', '['K7689']', '['B338']', '['I159']',
       '['M792']', '['Z3202']', '['R634']', '['H6591']', '['S99911A']',
       '['S7011XA']', '['R935']', '['M533']', '['K828']', '['I209']'],
      dtype='object', name='original_codes')

In [19]:
clf_rep = pd.read_excel('/home/lakhanvishwkarma/LV/new_12_09/clf_report_top_1000_0.28.xlsx')

In [22]:
clf_rep

        Unnamed: 0  precision    recall  f1-score  support
0            A0472   0.833333  0.634921  0.720721      126
1             A049   0.947368  0.439024  0.600000       41
2             A059   0.606061  0.468750  0.528634      128
3            A0811   1.000000  0.692308  0.818182       65
4            A0839   0.900000  0.658537  0.760563       82
...            ...        ...       ...       ...      ...
999          Z9981   0.531250  0.250000  0.340000       68
1000     micro avg   0.694798  0.349039  0.464654    71823
1001     macro avg   0.654989  0.314933  0.411058    71823
1002  weighted avg   0.668676  0.349039  0.445753    71823
1003   samples avg   0.328628  0.357713  0.334029    71823

[1004 rows x 5 columns]

In [139]:
codes = [
'R053',     
'S99921A',  
'T50995A',  
'R29898',   
'R6883',    
'F1990',    
'R0689',    
'V877XXA',  
'R058',     
'S99922A',  
'I499',     
'N3289',    
'T887XXA',  
'R2243',    
'Z7722',    
'K769',     
'M19011',   
'R4589',    
'F418',     
'S42202A'
] 

filtered_df = clf_rep[clf_rep['Unnamed: 0'].isin(codes)]

# filtered_df

In [140]:
filtered_df.sort_values(by='f1-score', ascending=False)

    Unnamed: 0  precision    recall  f1-score  support
993      Z7722   0.738806  0.589286  0.655629      336
523       R058   0.684848  0.441406  0.536817      256
859    S99921A   0.639423  0.419558  0.506667      317
928    V877XXA   0.623529  0.422311  0.503563      251
214       I499   0.761905  0.375587  0.503145      213
522       R053   0.632432  0.390000  0.482474      300
472      N3289   0.760870  0.351759  0.481100      199
547      R2243   0.663158  0.336898  0.446809      187
588      R6883   0.768293  0.311881  0.443662      202
860    S99922A   0.567742  0.353414  0.435644      249
399     M19011   0.575000  0.345000  0.431250      200
557     R29898   0.721649  0.303030  0.426829      231
119       F418   0.604396  0.319767  0.418251      172
686    S42202A   0.528455  0.340314  0.414013      191
574      R4589   0.637681  0.251429  0.360656      175
339       K769   0.596491  0.212500  0.313364      160
528      R0689   0.562500  0.200000  0.295082      180
889    T50995A   0.589286  0.187500  0.284483      176
110      F1990   0.757576  0.163399  0.268817      153
911    T887XXA   0.372093  0.108844  0.168421      147

In [ ]:
############################

In [30]:
import joblib
vectorizer = joblib.load('/home/lakhanvishwkarma/LV/updated_10_09/tfidf_parallel_1001.joblib')

/home/lakhanvishwkarma/anaconda3/envs/myenv/lib/python3.10/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator TfidfTransformer from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/lakhanvishwkarma/anaconda3/envs/myenv/lib/python3.10/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator TfidfVectorizer from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [41]:
# !pip install eli5

In [141]:
import eli5
from eli5.sklearn import explain_weights

import joblib
log_reg = joblib.load('/home/lakhanvishwkarma/LV/updated_10_09/Models/Individual_Models/R053.joblib')

# Global explanation (feature weights per class)
eli5.show_weights(log_reg, vec=vectorizer, top=20)

# # Local explanation (why probability is low for a specific text)
# eli5.show_prediction(log_reg, text, vec=vectorizer)

/home/lakhanvishwkarma/anaconda3/envs/myenv/lib/python3.10/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator LogisticRegression from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [43]:
text = "Type 1 diabetes mellitus with hypoglycemia without coma"

In [44]:
eli5.show_prediction(log_reg, text, vec=vectorizer)

In [45]:
text = "Certain infectious and parasitic diseases"
eli5.show_prediction(log_reg, text, vec=vectorizer)

In [ ]:
##

In [32]:
y_test_1000 = pd.read_parquet('/home/lakhanvishwkarma/LV/new_12_09/y_test_1000.parquet')

In [33]:
y_test_1000

,Code_A0472,Code_A049,Code_A059,Code_A0811,Code_A0839,Code_A389,Code_A491,Code_A493,Code_A499,Code_A539,...,Code_Z7289,Code_Z7689,Code_Z77098,Code_Z7722,Code_Z79899,Code_Z9189,Code_Z931,Code_Z940,Code_Z978,Code_Z9981
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0